@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container-contact {
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  background-color: #020617;
}

.cardabout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #faf7f7;
  box-shadow: 0 4px 8px rgba(255, 249, 249, 0.1);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #020617;
}

.profile-section {
  text-align: center;
  align-items: center;
}

.left-container p {
  padding: 20px;
  font-style: normal;
  font-size: 21px;
}

.left-container h2 {
  text-align: center;
  font-size: 41px;
  color: blue;
}

.profile-section h3 {
  color: #2a2f35;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(9, 21, 34, 0.1);
}

.profile-section span {
  color: blue;
  font-size: 30px;
  font-weight: 700;
}

.profile-section img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
  transition: transform 0.3s ease;
}

.profile-section img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .left-container h2 {
    font-size: 32px;
  }

  .profile-section img {
    width: 80%;
  }
}
