@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home-kontainer {
    padding: 0;
    width: 100%;
    font-family: "Inter", sans-serif; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;       
}   
    
.boxx-1 {
    height: 600px;
    background-color: #020617;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.content-satu {
    text-align: left;
    color: white;
    width: 50%;
    padding: 20px;
}

.content-satu p{
    color: rgb(100, 116, 139);
    font-size: 20px;
}

.content-satu h1 {
    color: white;
    font-size: 48px;
}

.content-satu span {
    color: rgb(13, 110, 253);
    font-style: normal;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;   
}

.content-dua {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-dua img {
    max-width: 60%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.content-tiga{
    text-align: center;
    position: absolute;
    top: 120%;
    width: 100%;
}

.card-container {
    max-width: max;
    object-fit: cover;
    height: 200%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 50px 150px;
}

.card-container .card {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-container .card:hover {
    transform: scale(1.05);
    background-color: #f8f9fa;
    cursor: pointer;
}


.content-lima {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
}
